@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LFDALayout.cshtml";
}

<div style="min-height:150vh; padding-top:30vh">
    <p>dsaf sadf safd sadf sadf asdf asfd sadfas fd asdf asdf asdfsadf sadf asdf safd sadf dsaf</p>
</div>
