
    <div class="navbar navbar-expand-sm bg-white border-bottom navbar-dark fixed-top">
        <div class="navbar-brand">
            <img style="width:12vw" src="~/Images/LOreal-Thailand-logo-e1528364126953.png" />
        </div>
        
        
        <nav id="" class="nav-item">
            <div class="nav-menu nav-menu--primary">
                <ul id="menu-main-menu" class="nav-menu nav-menu--primary">
                    <li id="menu-item-99991220" class=""><a href="https://jobify-demos.astoundify.com/classic/post-a-job/">Home</a></li>
                    <li id="menu-item-99991220" class=""><a href="https://jobify-demos.astoundify.com/classic/post-a-job/">Product Pending List</a></li>
                    <li id="menu-item-99991220" class=""><a href="https://jobify-demos.astoundify.com/classic/post-a-job/">PIF List</a></li>
                    <li id="menu-item-99991221" class=""><a href="https://jobify-demos.astoundify.com/classic/blog/">Claim Validation Request</a></li>
                    <li id="menu-item-99991219" class="register menu-item menu-item-type-post_type menu-item-object-page menu-item-99991219"><a href="https://jobify-demos.astoundify.com/classic/signup/" class="popup-trigger-ajax">Sign Up</a></li>
                    <li id="menu-item-99991213" class="login menu-item menu-item-type-post_type menu-item-object-page menu-item-99991213"><a href="https://jobify-demos.astoundify.com/classic/my-account/" class="popup-trigger-ajax">Login</a></li>
                </ul>
            </div>
        </nav>
    </div>
